a {
    color: #222;
}
.layout .list-group-item{
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
}

.layout .width{
    width: 50px;
}
.layout .input-kitchen-number{
    padding-left: 0;
    padding-right: 0;
    min-width: 30px;
    max-width: 60px;
    text-align: center;
}
.layout .group-input-kitchen{
    max-width: 180px;
    float: right;
}
.layout .choose_number_food{
   margin-right: 5px;
}
.layout .food-name-item{
    padding-left: 10px;
}
.layout .menu-kitchen .btn{
    margin-left: 15px;
}
.list-group-item:nth-child(2n){
    background: #1f97aa4f;
}
.menu-tables-areas .nav-link, .category-foods .nav-link{
    background: #e3e3e3;
    margin-right: 3px;
}
.nav-pills.menu-tables-areas .nav-link.active, .nav-pills.category-foods .nav-link.active {
    background-color: #17a2b8;
}
.loading{
    margin: 0 auto;
}
.board-busy{
    background: #1f97aa4f;
}
@media (max-width: 679px) {

    .layout .title-kitchen{
        font-size: 15px;
    }
    .layout .input-kitchen-number{
        max-width: 100%;
    }
    .layout .group-input-kitchen {
        max-width: 200px;
        float: right;
    }
    .layout .card-body .food-name-item{

    }
    .layout  .choose_number_food{
        margin-right: 10px;
    }
    .layout  .choose_all_food{
      margin-right: 3px;
    }
    .layout .list-group{
        border-bottom: none;
    }
    .layout .card-body{
        padding: 0;
    }
    .layout .menu-kitchen .btn{
        margin-left: 1px;
    }
    .layout #list_food_by_board{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
    }
    .layout .row-rm-p{
        margin-left: 0;
        margin-right: 0;
    }
}
